<%- include('../partials/layout.ejs') %>

<section class="container">
    <div class="row">
        <div class="col-12">
            <h2><%= title %></h2>

            <form method="POST" action="/manga/<%= manga._id%>">
                <div class="mb-3">
                    <label for="name">Nom du manga : </label>
                    <input type="text" id="name" name="name" value="<%= manga.name %>" class="form-control">
                </div>
                <div class="mb-3">
                    <span>Tag</span>

                    <%if(manga.tag ==="anime"){%>
                    <div class="form-check">
                        <input type="radio" name="tag" checked="true" value="anime" id="anime" class="form-check-input" >
                        <label for="anime" class="form-check-label">Anime</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" name="tag" checked="false" value="scan" id="scan" class="form-check-input" >
                        <label for="scan" class="form-check-label">Scan</label>
                    </div>
                    <%}%>

                    <%if(manga.tag ==="scan"){%>
                    <div class="form-check">
                        <input type="radio" name="tag" checked="true" value="anime" id="anime" class="form-check-input" >
                        <label for="anime" class="form-check-label">Anime</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" name="tag" checked="false" value="scan" id="scan" class="form-check-input" >
                        <label for="scan" class="form-check-label">Scan</label>
                    </div>
                    <%}%>
                </div>
                <div class="mb-3">
                    <label>Saisir un commentaire</label>
                    <input type="textarea" id="comment" name="comment" value="<%= manga.comment%>" class="form-control">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" name="finish" id="finish" class="form-check-input">Terminer
                </div>
                <input type="hidden" name="created_at" value="<%=manga.created_at %>" >

                <input type="submit" value="valider" class="btn btn-dark">
            </form>
        </div>
    </div>
</section>