<%- include('../partials/layout.ejs') %>
<section class="container-fluid">
 <div class="row">
  <div class="col-12">
   <h2 class="text-center mb-5">Ma liste de manga</h2>
  </div>
 </div>
 <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-5 gy-5">
  <div class="col">
   <a href="/manga/add" class="text-dark">
    <div class="h-100 card d-flex justify-content-center align-items-center rounded-card">
    <i class="bi bi-plus-circle-dotted"></i>
    <p>Ajouter un manga</p>
   </div></a>
  </div>
  <% mangas.forEach( (data,index) => {
  if(data.data[0].manga !="undefined"){
  %>
  <div class="col">
   <div class="card rounded-card">
    <ul class="list-group list-group-flush">
     <li class="list-group-item"><%= data.data[0].manga[0].name %>
      <span class="badge rounded-pill bg-<%=data.data[0].manga[0].tag==='anime'?'dark':'secondary'%>"><%= data.data[0].manga[0].tag %></span>
     </li>
     <li class="list-group-item">Commentaire : <%= data.data[0].manga[0].comment %></li>
     <li class="list-group-item"><%= data.data[0].manga[0].finish == true ? 'terminer' : ' à regarder' %></li>
     <li class="list-group-item">
      <% for(const dataGenre of data.data){
        for(const genre of dataGenre.genre){%>
     <span class="badge rounded-pill bg-dark"><%= genre.name%></span>
      <%} }%></li>
     <li class="list-group-item"><a href="/manga/<%=data._id%>"> Editer</a></li>
    </ul>
   </div>
  </div>

  <%} });%>

 </div>
</section>